{%  extends 'base.html.twig' %}
{% block body %}

    <div class="row justify-content-md-left">
    {% for post in posts %}
        <div class="col-md-4 mt-3">
            <div class="card-content">
                <div class="card-img">

                {% if post.fileName %}
                    <img src="{{ asset('uploaded/files/' ~ post.fileName ) }}" alt="zdjecie_przedmiotu">
                {% else %}
                    <img src="{{ asset('/static/img/brak_zdjecia.png') }}" alt="brak_zdjecia">
                {% endif %}

                </div>
                <div class="card-desc text-center">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.description }}</p>
                    <button class="btn text-info" data-toggle="collapse" data-target="#table{{ post.id }}" role="button"
                            aria-expanded="false" aria-controls="multiCollapseExample1">
                        Więcej szczegółów
                    </button>
                </div>
                 <div class="collapse multi-collapse align-items-center" id="table{{ post.id }}">
                    <table class="table table-striped">
                        <tr><td>Miejsce znalezienia:</td><td>{{ post.placeOfFound }}</td></tr>
                        <tr><td>Miejsce odbioru:</td><td>{{ post.placeOfPick }}</td></tr>
                    </table>
                 </div>
            </div>
        </div>

    {% endfor %}

</div>
{% endblock %}
